<web-app 
    version="2.4"
    xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"> >
    <servlet>
        <servlet-name>ServletAgregar</servlet-name>
        <servlet-class>com.servlet.ServletAgregar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAgregar</servlet-name>
        <url-pattern>/ServletAgregar</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletAgregarDireccion</servlet-name>
        <servlet-class>com.servlet.ServletAgregarDireccion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAgregarDireccion</servlet-name>
        <url-pattern>/ServletAgregarDireccion</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletAgregarPermisos</servlet-name>
        <servlet-class>com.servlet.ServletAgregarPermisos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAgregarPermisos</servlet-name>
        <url-pattern>/ServletAgregarPermisos</url-pattern>
    </servlet-mapping>
</web-app>
